
.idea/.name

lib/gibson/twitter/oauth_tokens.py.rob

lib/gibson/programs/tw3dr.py~

.idea/workspace.xml

gibson.iml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/sqldialects.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml
.idea/*
*.pyc