CONSUMER_KEY=""
CONSUMER_SECRET=""
REQUEST_URL="https://api.twitter.com/oauth/request_token"
AUTHORIZE_URL="https://api.twitter.com/oauth/authorize"
ACCESS_TOKEN_URL="https://api.twitter.com/oauth/access_token"
CALLBACK_URL="http://www.gibson.org"

USER_ACCESS_TOKEN=""
ACCESS_TOKEN_SECRET=""



